/* Estilo da página inicial */
.home-container {
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
    height: 100vh;
  }
  
  .home-title {
    font-size: 2.5rem;
    color: #333;
  }
  
  .home-description {
    font-size: 1.2rem;
    margin: 20px 0;
    color: #666;
  }
  
  .start-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .start-button:hover {
    background-color: #45a049;
  }
  