/* global.css */

/* Resetando margens e padding para uma base limpa */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Tornando as fontes e links consistentes */
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.5;
  }
  
  /* Tornando as páginas flexíveis e responsivas */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
  }
  
  h1, h2, h3 {
    margin-bottom: 20px;
  }
  
  /* Responsividade */
  @media (max-width: 600px) {
    body {
      font-size: 14px; /* Reduz o tamanho da fonte em telas menores */
    }
  }
  